*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

ul, ol, menu{
    list-style: none;
}

a{
    color: white;
    text-decoration: none;
}

img{
    width: 100%;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.col-4{
    width: calc(4 * 100% /12);
    padding: 10px;
}
.nav_menu{
    background-color: #FF6900;
    color: #FFFFFF;
    padding: 10px;
}


.main-menu{
    display: flex;
    flex-grow: 1;
    flex-basis: 0;
    justify-content: flex-start;
}

.menu__item{
    padding: 10px;

}

.logo > img{
    height: 35px;
    display: block;
}

.icons-menu{
    display: flex;
    flex-grow: 1;
    flex-basis: 0;
    justify-content: flex-end;
}

.icon{
    padding: 5px;
    height: 35px;
}

/* main */
.hero{
    margin: 50px 0;
}
.title{
    margin-bottom: 20px;
}
.title > *{
    text-align: center;
}
.col-4 img{
    display: block;
}

.card-description{
    border: 1px solid #EDEDED;
    padding: 10px;
}

.brand{
font-size: 12px;
}

.full-price{
    font-size: 20px;
}
.sale-price{
    color: red;
    font-size: 14px;
}

.full-price{
    text-decoration: line-through;
    font-size: 14px;
}

/* footer */
.end-page{
    background-color: black;
    color: #FFFFFF;
    padding: 10px;
    font-size: 16px;
}

.end-page h3{
    padding: 8px;
}

.info-section__item{
    display: flex;
}

.info__item{
padding: 8px;
}

.social-section__item{
    display: flex;
    align-items: center;
}

.social__item{
    height: 30px;

}

.end-page .row{
    justify-content: space-between;
}